.formulario{
    margin-left: 23%;
    margin-top: 2%;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(13, 112, 4, 0.753);
}

.lang{
    width: 79%;
}

